// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$gray: #F4F4F4;

 body {
   background: $gray; // Using this variable
 }

 .banner {
  background: red;
  h1 {
    font-size: 50px;
  }
}

a {
  color: grey;
  &:hover {
    color: black;
  }
}

.answer {
  border-left: 4px rgb(202, 202, 202) solid;
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  width: 450px;
  margin-bottom: 15px;
}

.coach {
  background-color: rgb(250, 250, 206);
}

#input {
  padding-top: 6px;
  padding-bottom: 6px;
  width: 300px;
  border-top-right-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px grey solid;
}

#btn {
  position: absolute;
  background-color: rgb(70, 120, 178);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  padding: 7px;
  margin-left: 0;
  border: none;
}
